@charset "UTF-8";
@import url(font-awesome.min.css);
@import "https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600";
html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, ol, ul, li,{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

	body {
		line-height: 1;
	}

	ol, ul {
		list-style: none;
	}

	table {
		border-collapse: collapse;
		border-spacing: 0;
	}

	body {
		-webkit-text-size-adjust: none;
	}

	@-ms-viewport {
		width: device-width;
	}

	body {
		-ms-overflow-style: scrollbar;
	}

	@media screen and (max-width: 480px) {

		html, body {
			min-width: 320px;
		}

	}

	body {
		background: #fff;
	}

	body {
		color: #9a9a9a;
		font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
		font-size: 14pt;
		font-weight: 400;
		line-height: 1.65;
		margin: 2em 0 0 0;
	}

	a {
		color: #6d6cc0;
		text-decoration: underline;
	}

		a:hover {
			text-decoration: none;
		}

	strong, b {
		color: #555;
		font-weight: 600;
	}

	em, i {
		font-style: italic;
	}

	p {
		margin: 0 0 1em 0;
	}

	h1, h2, h3, h4, h5, h6 {
		color: #555;
		font-weight: 400;
		line-height: 1.5;
		margin: 0 0 0.2em 0;
	}

		h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
			color: inherit;
			text-decoration: none;
		}

	h2 {
		font-size: 1.85em;
		font-weight: 300;
	}

	h3 {
		font-size: 1.75em;
	}

	h4 {
		font-size: 1.5em;
	}

	h5 {
		font-size: 0.9em;
	}

	h6 {
		font-size: 0.7em;
	}

	.align-center {
		text-align: center;
	}

	ol {
		list-style: decimal;
		margin: 0 0 2em 0;
		padding-left: 1em;
	}

		ol li {
			padding-left: 0.25em;
		}

	ul {
		list-style: disc;
		margin: 0 0 2em 0;
		padding-left: 1em;
	}

		ul li {
			padding-left: 0.5em;
		}


	dl {
		margin: 0 0 2em 0;
	}

		dl dt {
			display: block;
			font-weight: 600;
			margin: 0 0 1em 0.5em;
		}

		dl dd {
			margin-left: 1em;
		}

	.inner {
		max-width: 30em;
		margin: 0 auto;
	}

	hr {
		border: 0;
		border-bottom: solid 1px #dbdbdb;
		margin: 2em 0;
	}

		hr.major {
			margin: 1em 0;
		}

	.image {
		border-radius: 0;
		border: 0;
		display: inline-block;
		position: relative;
	}

		.image.round img {
			border-radius: 100%;
			box-shadow: 0px 0px 0px 7px #fff, 0px 0px 0px 8px rgba(0, 0, 0, 0.1);
		}

		.image.profileImageDim {
			width: 150px;
			height: 150px;
		}

		@media screen and (max-width: 1680px) {

			body {
				font-size: 12pt;
			}

		}

		@media screen and (max-width: 1280px) {

			body {
				font-size: 12pt;
			}

			.inner {
				max-width: 90%;
			}
		}

		@media screen and (max-width: 980px) {

			body {
				font-size: 12pt;
			}

		}

		@media screen and (max-width: 736px) {

			body {
				font-size: 12pt;
			}

		}

		@media screen and (max-width: 480px) {

			body {
				font-size: 12pt;
			}

			h3 {
				font-size: 1.25em;
			}

			.inner {
				max-width: 90%;
			}
		}